<div class="brewday">
  <a href="edit/" class="create">
    create
  </a>
  <table>
    <thead>
    <tr>
      <td>date</td>
      <td>name</td>
      <td>duration</td>
      <td>recipe</td>
    </tr>
    </thead>
    <tbody>
    <% _.each(brewdays,
    function (brewday) { %>
    <tr>
      <td>
        <a href='<%= req.options.controller %>/show?id=<%= brewday.id %>'>
          <%= brewday.brewDate %>
        </a>
      </td>
      <td><%= brewday.brewName %></td>
      <td><%= brewday.info %></td>
      <td><%= brewday.recipe %></td>
    </tr>
    <% }); %>
    </tbody>
  </table>
</div>
